/* CUSTOM STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: 'Playfair Display', serif;
  font-weight: 200;
}

body {
  background-color: black;
  background-image: url('./assets/flightclub-darken.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.title {
  font-size: 6rem;
  margin: 0 30px;
  cursor: pointer;
  color: pink;
}

.subTitle {
  font-size: 2rem;
  cursor: pointer;
}

.main-wrapper {
  height: 880px;
  display: flex;
}

.tasklist-container {
  height: 500px;
}

.card {
  background: rgba(32, 33, 33, 0.73);
  padding: 50px;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
